@using CognitiveSearch.UI.Configuration
@inject OrganizationConfig OrgConfig

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    
        <div class="container">
            <footer class="main-footer navbar-bg" style="background-color:#DADADA">
                <div class="content center-block">
                    <span class="copyright footer-copyright">&copy; 2021 Microsoft. All rights reserved.</span>
                </div>
            </footer>
    </div>